<div class="card mt-5" style="padding: 20px;">
    <form #companyData="ngForm" (ngSubmit)="addCompany(companyData)">

      <div class="form-group">
        <label for="companyID"> Company ID </label>
        <input type="number" #name (ngModel)="companyID" name="companyID" id="companyID" class="form-control" placeholder="enter company ID">
      </div>

      <div class="form-group">
        <label for="companyName"> Company Name</label>
        <input type="text" #name (ngModel)="companyName" name="companyName" id="companyName" class="form-control" placeholder="enter company Name">
      </div>

      <div class="form-group">
        <label for="companyCEO"> Company CEO</label>
        <input type="text" #name (ngModel)="companyCEO" name="companyCEO" id="companyCEO" class="form-control" placeholder="enter company CEO">
      </div>

      <div class="form-group">
        <label for="turnover"> Company turnover</label>
        <input type="number" #name (ngModel)="turnover" name="turnover" id="turnover" class="form-control" placeholder="enter company turnover">
      </div>

      <div class="form-group">
        <label for="website"> Company website</label>
        <input type="text" #name (ngModel)="website" name="website" id="website" class="form-control" placeholder="enter company website">
      </div>
      

      <div class="form-group">
        <input type="submit" value="Add Company" class="btn btn-secondary w-100">
      </div>

    </form>

</div>

<div class="mt-5">

    <table class="table table-bordered">
        <thead class="thead">
            <tr>
                <th>Company ID</th>
                <th>Company Name</th>
                <th>Company CEO</th>
                <th>Company turnover</th>
                <th>Company WebSite</th>
                <th>Stock Price</th>
            </tr>

        </thead>
        <tbody class="tbody">
            <tr *ngFor="let company of companyDetails">

                <td> company.companyID </td>
                <!-- <td> {{company.companyName}} </td>
                <td> {{company.companyCEO}} </td>
                <td> {{company.turnover}} </td>
                <td> {{company.website}} </td>
                <td> {{company.stockPrice}} </td> -->
            </tr>

        </tbody>

    </table>

</div>
