<h1 style="padding: 20px;"> Company Area </h1>
<div class="card mt-5" style="padding: 20px;">
    <form #companyData="ngForm" (ngSubmit)="addCompany()">

      <div class="form-group">
        <label for="companyID"> Company ID </label>
        <input name="companyID" class="form-control" type="number" placeholder="enter company ID"
        [(ngModel)]="companyObj.companyID" required>
      </div>

      <div class="form-group">
        <label for="companyName"> Company Name</label>
        <input name="companyName" class="form-control" type="text" placeholder="enter company name" [(ngModel)]="companyObj.companyName" required>
      </div>

      <div class="form-group">
        <label for="companyCEO"> Company CEO</label>
        <input name="companyCEO" class="form-control" type="text" placeholder="enter company ceo"
        [(ngModel)]="companyObj.companyCEO" required>
      </div>

      <div class="form-group">
        <label for="turnover"> Company turnover</label>
        <input name="turnover" class="form-control" type="number" placeholder="enter company turnover" [(ngModel)]="companyObj.turnover" required>
      </div>

      <div class="form-group">
        <label for="website"> Company website</label>
        <input name="website" class="form-control" type="text" placeholder="enter company website"
        [(ngModel)]="companyObj.website" required>
      </div>
      

      <div class="form-group">
        <input type="submit" value="Add Company" class="btn btn-secondary w-100">
      </div>

    </form>

</div>

<div class="mt-5">
    <button type="button" (click)="getCompanyDetails()" class="btn btn-primary"> View Companies</button> <br>
    <table class="table table-bordered">
        <thead class="thead">
            <tr>
                <th>Company ID</th>
                <th>Company Name</th>
                <th>Company CEO</th>
                <th>Company turnover</th>
                <th>Company Website</th>
                <th>Stock Price</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>

        </thead>
        <tbody class="tbody">
            <tr *ngFor="let company of companyList">

                <td> {{company.companyID}} </td>
                <td> {{company.companyName}} </td>
                <td> {{company.companyCEO}} </td>
                <td> {{company.turnover}} </td>
                <td> {{company.website}} </td>
                <td> {{company.stockPrice}} </td>
                <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  (click)="updateCompany(company)">Update</button></td>

              <td><button type="button" class="btn btn-danger" (click)="deleteCompany(company)">Delete</button></td>

            </tr>

        </tbody>

    </table>
</div>
